body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        sans-serif;
}

.game-center {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    border-radius: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: white;
}

.bubble-white {
    width: min(420px, 60%);
    height: min(200px, 30%);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: linear-gradient(
        rgb(255, 255, 255, 0.9),
        rgb(255, 255, 255, 0.3),
        rgb(255, 255, 255, 0)
    );
    margin-top: 0.2rem;
    z-index: -1;
    float: left;
    position: absolute;
}

.bubble-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red {
    width: 30rem;
    height: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0.9;
    background: fixed
        linear-gradient(#fb29ba, #fb0a87, #f92b79, #fc3062, #fd604d, #f96e50);
}

.blue {
    width: 18rem;
    height: 18rem;
    background-color: #4982ee;
    transform: translate(120%, 35%);
    opacity: 1;
    background: fixed
        linear-gradient(#3882ee, #2f86f3, #16a8fe, #16aefd, #40c3ea, #78dee1);
}

.green {
    width: 15rem;
    height: 15rem;
    background-color: #4ecc2b;
    transform: translate(100%, 135%);
    z-index: 1;
    opacity: 0.9;
    background: fixed
        linear-gradient(#4acb2e, #53d335, #72db34, #82e242, #b7f96f);
}

.purple {
    width: 19rem;
    height: 19rem;
    background-color: #7e00f5;
    transform: translate(-85%, 75%);
    opacity: 0.9;
    background: fixed
        linear-gradient(#e32ce9, #cd03dc, #ca00dd, #a002e0, #8102e6, #721ffe);
}

.yellow {
    width: 19rem;
    height: 19rem;
    background-color: #fec00a;
    transform: translate(-95%, -80%);
    background: radial-gradient(#ffa600 40%, #fff874 100%, #fcf00c 100%);
}

.bubble-num {
    margin: 0;
    padding: 0;
    font-size: 6rem;
    line-height: 5rem;
    padding-top: 2rem;
}

.bubble-text {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.red .bubble-num {
    font-size: 8rem;
    line-height: 6rem;
}

.blue .bubble-text,
.green .bubble-text,
.new-bubble .bubble-text {
    font-size: 1.5rem;
}

:root {
    --x-speed: 10s;
}

.bubble {
    animation: wiggle var(--x-speed) linear infinite alternate;
}

@keyframes wiggle {
    100% {
        transform: translateX(calc(100vw - var(--width)));
    }
}
